{% extends 'base/base.html' %}

{% block body %}
    <div class="h-100 w-100">
        <div>{% include 'base/header.html' %}</div>
        <div class="container d-flex justify-content-center align-items-center  " style="height: 90%">
            <div class="border p-3">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ forms }}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>

    </div>
    <div>{% include 'base/footer.html' %}</div>
</div>
{% endblock %}
