{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    zoomit || {{ post.title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
{% endblock %}
{% block body %}
    {% include 'base/header.html' %}
    <div class="container dir-rtl border">
        <div class="row">
            <div class="col-12">
                <h1>{{ post.title }}</h1>
            </div>

            <div class="col-12">
                <div class="card m-auto" style="width: 40rem;">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                </div>
                {#                <img alt="post image" width="100%" src="{{ post.image.url }}">#}
            </div>
            {% if post.image3 %}
                <div class="col-12">
                    <div class="card m-auto" style="width: 40rem;">
                        <img class="card-img-top" src="{{ post.image3.url }}" alt="Card image cap">
                    </div>
                    {#                <img alt="post image" width="100%" src="{{ post.image.url }}">#}
                </div>
            {% endif %}
        </div>
        <br>
        {% if setting.author %}
            <p>{{ post.author }}</p>
        {% endif %}
        <p>{{ post.content }}</p>
        {% if post.image2 %}
            <div class="col-12">
                <div class="card m-auto" style="width: 40rem;">
                    <img class="card-img-top" src="{{ post.image2.url }}" alt="Card image cap">
                </div>
                {#                <img alt="post image" width="100%" src="{{ post.image.url }}">#}
            </div>
        {% endif %}
        {% if setting.allow_discussion %}
            <div>
                {% for comment in comments %}
                    <div>
                        {{ comment.author.username }}

                    </div>
                    <div>
                        {{ comment.content }}

                    </div>
                {% endfor %}

            </div>
            {% if setting.comment %}
                <form method="post" action="{% url 'post_single' post.slug %}">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% endif %}
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-12">مطالب مرتبط:</div>
            {% for related_post in related_posts %}
                <div class="col-12">
                    <a href="{% url 'post_single' related_post.slug %}">{{ related_post.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-2">{% include  'base/footer.html' %}</div>
{% endblock %}